In [1]:
import pandas as pd
from pathlib import Path
from datetime import datetime

In [2]:
# retriving the path of csv file
csv_path = Path("../","Resources", "owid-covid-data.csv")

# initializing dataframe
initial_covid_df = pd.read_csv(csv_path)

initial_covid_df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN

In [3]:
# obtaining a list of columns 

initial_covid_df.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'total_tests', 'new_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population_density', 'median_age', 'aged_65_older', 'aged_70_older',
       'gdp_per_capita', 'extreme_poverty', 'cardiovasc_death_rate',
       'diabetes_prevalence', 'female_smokers', 'male_smokers',
       'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index', 'population',
       'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative',
       'excess_mortality', 'excess_mortality_cumulative_per_million'],
      dtype='object')

In [4]:
# creating a new dataframe that shows only necessary columns

reduced_covid_df = initial_covid_df[["continent", "location", "date", "total_cases_per_million", "new_cases_per_million", "total_deaths_per_million", 
                                     "new_deaths_per_million", "icu_patients_per_million", "hosp_patients_per_million", "total_tests_per_thousand", "positive_rate",
                                     "total_vaccinations_per_hundred", "people_vaccinated_per_hundred", "people_fully_vaccinated_per_hundred", "total_boosters_per_hundred",
                                     "new_vaccinations", "median_age", "aged_65_older", "aged_70_older", "cardiovasc_death_rate",
                                     "diabetes_prevalence", "female_smokers", "male_smokers", "population"]]

reduced_covid_df.head()

,continent,location,date,total_cases_per_million,new_cases_per_million,total_deaths_per_million,new_deaths_per_million,icu_patients_per_million,hosp_patients_per_million,total_tests_per_thousand,...,total_boosters_per_hundred,new_vaccinations,median_age,aged_65_older,aged_70_older,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,population
0,Asia,Afghanistan,2020-01-03,NaN,0.0,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,18.6,2.581,1.337,597.029,9.59,NaN,NaN,41128772.0
1,Asia,Afghanistan,2020-01-04,NaN,0.0,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,18.6,2.581,1.337,597.029,9.59,NaN,NaN,41128772.0
2,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,18.6,2.581,1.337,597.029,9.59,NaN,NaN,41128772.0
3,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,18.6,2.581,1.337,597.029,9.59,NaN,NaN,41128772.0
4,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,18.6,2.581,1.337,597.029,9.59,NaN,NaN,41128772.0

In [5]:
# formatting datetime


reduced_covid_df_date = reduced_covid_df["date"].astype({"date": "datetime64[ns]"})

reduced_covid_df_date.info

<bound method Series.info of 0        2020-01-03
1        2020-01-04
2        2020-01-05
3        2020-01-06
4        2020-01-07
            ...
348537   2023-10-08
348538   2023-10-09
348539   2023-10-10
348540   2023-10-11
348541   2023-10-12
Name: date, Length: 348542, dtype: datetime64[ns]>

In [6]:


reduced_covid_df["month"] = reduced_covid_df_date.dt.month

reduced_covid_df["year"] = reduced_covid_df_date.dt.year

del reduced_covid_df["date"]

reduced_covid_df

/var/folders/sm/718jcs250_gclfbkg39pptbw0000gn/T/ipykernel_82814/677016408.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reduced_covid_df["month"] = reduced_covid_df_date.dt.month
/var/folders/sm/718jcs250_gclfbkg39pptbw0000gn/T/ipykernel_82814/677016408.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reduced_covid_df["year"] = reduced_covid_df_date.dt.year

,continent,location,total_cases_per_million,new_cases_per_million,total_deaths_per_million,new_deaths_per_million,icu_patients_per_million,hosp_patients_per_million,total_tests_per_thousand,positive_rate,...,median_age,aged_65_older,aged_70_older,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,population,month,year
0,Asia,Afghanistan,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,...,18.6,2.581,1.337,597.029,9.59,NaN,NaN,41128772.0,1,2020
1,Asia,Afghanistan,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,...,18.6,2.581,1.337,597.029,9.59,NaN,NaN,41128772.0,1,2020
2,Asia,Afghanistan,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,...,18.6,2.581,1.337,597.029,9.59,NaN,NaN,41128772.0,1,2020
3,Asia,Afghanistan,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,...,18.6,2.581,1.337,597.029,9.59,NaN,NaN,41128772.0,1,2020
4,Asia,Afghanistan,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,...,18.6,2.581,1.337,597.029,9.59,NaN,NaN,41128772.0,1,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
348537,Africa,Zimbabwe,16284.45,0.0,350.356,0.0,NaN,NaN,NaN,NaN,...,19.6,2.822,1.882,307.846,1.82,1.6,30.7,16320539.0,10,2023
348538,Africa,Zimbabwe,16284.45,0.0,350.356,0.0,NaN,NaN,NaN,NaN,...,19.6,2.822,1.882,307.846,1.82,1.6,30.7,16320539.0,10,2023
348539,Africa,Zimbabwe,16284.45,0.0,350.356,0.0,NaN,NaN,NaN,NaN,...,19.6,2.822,1.882,307.846,1.82,1.6,30.7,16320539.0,10,2023
348540,Africa,Zimbabwe,16284.45,0.0,350.356,0.0,NaN,NaN,NaN,NaN,...,19.6,2.822,1.882,307.846,1.82,1.6,30.7,16320539.0,10,2023
348541,Africa,Zimbabwe,16284.45,0.0,350.356,0.0,NaN,NaN,NaN,NaN,...,19.6,2.822,1.882,307.846,1.82,1.6,30.7,16320539.0,10,2023

In [22]:
# group by year 

group = reduced_covid_df.groupby(["location", "year", "month"])


group.sum()

                                                                continent  \
location    year month
Afghanistan 2020 1      AsiaAsiaAsiaAsiaAsiaAsiaAsiaAsiaAsiaAsiaAsiaAs...
                 2      AsiaAsiaAsiaAsiaAsiaAsiaAsiaAsiaAsiaAsiaAsiaAs...
                 3      AsiaAsiaAsiaAsiaAsiaAsiaAsiaAsiaAsiaAsiaAsiaAs...
                 4      AsiaAsiaAsiaAsiaAsiaAsiaAsiaAsiaAsiaAsiaAsiaAs...
                 5      AsiaAsiaAsiaAsiaAsiaAsiaAsiaAsiaAsiaAsiaAsiaAs...
...                                                                   ...
Zimbabwe    2023 6      AfricaAfricaAfricaAfricaAfricaAfricaAfricaAfri...
                 7      AfricaAfricaAfricaAfricaAfricaAfricaAfricaAfri...
                 8      AfricaAfricaAfricaAfricaAfricaAfricaAfricaAfri...
                 9      AfricaAfricaAfricaAfricaAfricaAfricaAfricaAfri...
                 10     AfricaAfricaAfricaAfricaAfricaAfricaAfricaAfri...

                        total_cases_per_million  new_cases_per_million  \
location    year month
Afghanistan 2020 1                        0.000                  0.000
                 2                        0.096                  0.024
                 3                       20.202                  2.749
                 4                      567.803                 41.652
                 5                     4970.509                306.745
...                                         ...                    ...
Zimbabwe    2023 6                   487676.729                 27.573
                 7                   504585.539                 11.826
                 8                   504721.136                  0.919
                 9                   488489.935                  2.083
                 10                  195412.664                  0.368

                        total_deaths_per_million  new_deaths_per_million  \
location    year month
Afghanistan 2020 1                         0.000                   0.000
                 2                         0.000                   0.000
                 3                         0.364                   0.096
                 4                        18.380                   1.360
                 5                       112.234                   4.570
...                                          ...                     ...
Zimbabwe    2023 6                     10480.233                   0.735
                 7                     10846.028                   0.368
                 8                     10853.874                   0.246
                 9                     10510.131                   0.061
                 10                     4204.272                   0.000

                        icu_patients_per_million  hosp_patients_per_million  \
location    year month
Afghanistan 2020 1                           0.0                        0.0
                 2                           0.0                        0.0
                 3                           0.0                        0.0
                 4                           0.0                        0.0
                 5                           0.0                        0.0
...                                          ...                        ...
Zimbabwe    2023 6                           0.0                        0.0
                 7                           0.0                        0.0
                 8                           0.0                        0.0
                 9                           0.0                        0.0
                 10                          0.0                        0.0

                        total_tests_per_thousand  positive_rate  \
location    year month
Afghanistan 2020 1                           0.0            0.0
                 2                           0.0            0.0
                 3                           0.0            0.0
                 4                           0.0            0.0
                 5                           0.0            0.0
...                                          ...            ...
Zimbabwe    2023 6                           0.0            0.0
                 7                           0.0            0.0
                 8                           0.0            0.0
                 9                           0.0            0.0
                 10                          0.0            0.0

                        total_vaccinations_per_hundred  ...  \
location    year month                                  ...
Afghanistan 2020 1                                 0.0  ...
                 2                                 0.0  ...
                 3                                 0.0  ...
                 4                                 0.0  ...
                 5                                 0.0  ...
...                                                ...  ...
Zimbabwe    2023 6                                 0.0  ...
                 7                                 0.0  ...
                 8                                 0.0  ...
                 9                                 0.0  ...
                 10                                0.0  ...

                        total_boosters_per_hundred  new_vaccinations  \
location    year month
Afghanistan 2020 1                             0.0               0.0
                 2                             0.0               0.0
                 3                             0.0               0.0
                 4                             0.0               0.0
                 5                             0.0               0.0
...                                            ...               ...
Zimbabwe    2023 6                             0.0               0.0
                 7                             0.0               0.0
                 8                             0.0               0.0
                 9                             0.0               0.0
                 10                            0.0               0.0

                        median_age  aged_65_older  aged_70_older  \
location    year month
Afghanistan 2020 1           539.4         74.849         38.773
                 2           539.4         74.849         38.773
                 3           576.6         80.011         41.447
                 4           558.0         77.430         40.110
                 5           576.6         80.011         41.447
...                            ...            ...            ...
Zimbabwe    2023 6           588.0         84.660         56.460
                 7           607.6         87.482         58.342
                 8           607.6         87.482         58.342
                 9           588.0         84.660         56.460
                 10          235.2         33.864         22.584

                        cardiovasc_death_rate  diabetes_prevalence  \
location    year month
Afghanistan 2020 1                  17313.841               278.11
                 2                  17313.841               278.11
                 3                  18507.899               297.29
                 4                  17910.870               287.70
                 5                  18507.899               297.29
...                                       ...                  ...
Zimbabwe    2023 6                   9235.380                54.60
                 7                   9543.226                56.42
                 8                   9543.226                56.42
                 9                   9235.380                54.60
                 10                  3694.152                21.84

                        female_smokers  male_smokers    population
location    year month
Afghanistan 2020 1                 0.0           0.0  1.192734e+09
                 2                 0.0           0.0  1.192734e+09
                 3                 0.0           0.0  1.274992e+09
                 4                 0.0           0.0  1.233863e+09
                 5                 0.0           0.0  1.274992e+09
...                                ...           ...           ...
Zimbabwe    2023 6                48.0         921.0  4.896162e+08
                 7                49.6         951.7  5.059367e+08
                 8                49.6         951.7  5.059367e+08
                 9                48.0         921.0  4.896162e+08
                 10               19.2         368.4  1.958465e+08

[11629 rows x 22 columns]

In [54]:
location_vs_population = reduced_covid_df[["location", "population"]]

location_vs_population_sorted = location_vs_population.sort_values("population", ascending = False)

location_vs_population_group = location_vs_population_sorted.groupby(["location"])

location_vs_population_group.mean().sort_values("population", ascending=False).head(30)

                                population
location
World                         7.975105e+09
Asia                          4.721383e+09
Lower middle income           3.432097e+09
Upper middle income           2.525921e+09
Africa                        1.426737e+09
China                         1.425887e+09
India                         1.417173e+09
High income                   1.250515e+09
Europe                        7.448078e+08
Low income                    7.376049e+08
North America                 6.003237e+08
European Union                4.501468e+08
South America                 4.368167e+08
United States                 3.382899e+08
Indonesia                     2.755013e+08
Pakistan                      2.358249e+08
Nigeria                       2.185412e+08
Brazil                        2.153135e+08
Bangladesh                    1.711864e+08
Russia                        1.447133e+08
Mexico                        1.275041e+08
Japan                         1.239517e+08
Ethiopia                      1.233799e+08
Philippines                   1.155590e+08
Egypt                         1.109901e+08
Democratic Republic of Congo  9.901022e+07
Vietnam                       9.818686e+07
Iran                          8.855057e+07
Turkey                        8.534125e+07
Germany                       8.336984e+07