In [1]:
import pandas as pd
from pathlib import Path
from datetime import datetime

In [2]:
# retriving the path of csv file
csv_path = Path("../","Resources", "owid-covid-data.csv")

# initializing dataframe
initial_covid_df = pd.read_csv(csv_path)

initial_covid_df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN

In [3]:
# obtaining a list of columns 

initial_covid_df.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'total_tests', 'new_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population_density', 'median_age', 'aged_65_older', 'aged_70_older',
       'gdp_per_capita', 'extreme_poverty', 'cardiovasc_death_rate',
       'diabetes_prevalence', 'female_smokers', 'male_smokers',
       'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index', 'population',
       'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative',
       'excess_mortality', 'excess_mortality_cumulative_per_million'],
      dtype='object')

In [4]:
# creating a new dataframe that shows only necessary columns

reduced_covid_df = initial_covid_df[["location", "date", "total_cases_per_million", "new_cases_per_million", "total_deaths_per_million", 
                                     "new_deaths_per_million", "icu_patients_per_million", "hosp_patients_per_million", "total_tests_per_thousand", "positive_rate",
                                     "total_vaccinations_per_hundred", "people_vaccinated_per_hundred", "people_fully_vaccinated_per_hundred", "total_boosters_per_hundred",
                                     "new_vaccinations", "median_age", "aged_65_older", "aged_70_older", "cardiovasc_death_rate",
                                     "diabetes_prevalence", "female_smokers", "male_smokers", "population"]]

reduced_covid_df.head()

,location,date,total_cases_per_million,new_cases_per_million,total_deaths_per_million,new_deaths_per_million,icu_patients_per_million,hosp_patients_per_million,total_tests_per_thousand,positive_rate,...,total_boosters_per_hundred,new_vaccinations,median_age,aged_65_older,aged_70_older,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,population
0,Afghanistan,2020-01-03,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,18.6,2.581,1.337,597.029,9.59,NaN,NaN,41128772.0
1,Afghanistan,2020-01-04,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,18.6,2.581,1.337,597.029,9.59,NaN,NaN,41128772.0
2,Afghanistan,2020-01-05,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,18.6,2.581,1.337,597.029,9.59,NaN,NaN,41128772.0
3,Afghanistan,2020-01-06,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,18.6,2.581,1.337,597.029,9.59,NaN,NaN,41128772.0
4,Afghanistan,2020-01-07,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,18.6,2.581,1.337,597.029,9.59,NaN,NaN,41128772.0

In [5]:
# formatting datetime

reduced_covid_df_date = reduced_covid_df["date"].astype({"date": "datetime64[ns]"})

reduced_covid_df_date.info

<bound method Series.info of 0        2020-01-03
1        2020-01-04
2        2020-01-05
3        2020-01-06
4        2020-01-07
            ...
348537   2023-10-08
348538   2023-10-09
348539   2023-10-10
348540   2023-10-11
348541   2023-10-12
Name: date, Length: 348542, dtype: datetime64[ns]>

In [6]:
# categorizing the date by month and year

reduced_covid_df["month"] = reduced_covid_df_date.dt.month

reduced_covid_df["year"] = reduced_covid_df_date.dt.year

del reduced_covid_df["date"]

reduced_covid_df

/var/folders/sm/718jcs250_gclfbkg39pptbw0000gn/T/ipykernel_99065/2760383870.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reduced_covid_df["month"] = reduced_covid_df_date.dt.month
/var/folders/sm/718jcs250_gclfbkg39pptbw0000gn/T/ipykernel_99065/2760383870.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reduced_covid_df["year"] = reduced_covid_df_date.dt.year

,location,total_cases_per_million,new_cases_per_million,total_deaths_per_million,new_deaths_per_million,icu_patients_per_million,hosp_patients_per_million,total_tests_per_thousand,positive_rate,total_vaccinations_per_hundred,...,median_age,aged_65_older,aged_70_older,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,population,month,year
0,Afghanistan,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,18.6,2.581,1.337,597.029,9.59,NaN,NaN,41128772.0,1,2020
1,Afghanistan,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,18.6,2.581,1.337,597.029,9.59,NaN,NaN,41128772.0,1,2020
2,Afghanistan,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,18.6,2.581,1.337,597.029,9.59,NaN,NaN,41128772.0,1,2020
3,Afghanistan,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,18.6,2.581,1.337,597.029,9.59,NaN,NaN,41128772.0,1,2020
4,Afghanistan,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,18.6,2.581,1.337,597.029,9.59,NaN,NaN,41128772.0,1,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
348537,Zimbabwe,16284.45,0.0,350.356,0.0,NaN,NaN,NaN,NaN,NaN,...,19.6,2.822,1.882,307.846,1.82,1.6,30.7,16320539.0,10,2023
348538,Zimbabwe,16284.45,0.0,350.356,0.0,NaN,NaN,NaN,NaN,NaN,...,19.6,2.822,1.882,307.846,1.82,1.6,30.7,16320539.0,10,2023
348539,Zimbabwe,16284.45,0.0,350.356,0.0,NaN,NaN,NaN,NaN,NaN,...,19.6,2.822,1.882,307.846,1.82,1.6,30.7,16320539.0,10,2023
348540,Zimbabwe,16284.45,0.0,350.356,0.0,NaN,NaN,NaN,NaN,NaN,...,19.6,2.822,1.882,307.846,1.82,1.6,30.7,16320539.0,10,2023
348541,Zimbabwe,16284.45,0.0,350.356,0.0,NaN,NaN,NaN,NaN,NaN,...,19.6,2.822,1.882,307.846,1.82,1.6,30.7,16320539.0,10,2023

In [7]:
# extracting top 10 countries with the highest population

# making a list of locations that are not countries to exclude from rows
non_countries = ["World", "Asia", "Lower middle income", "Upper middle income", "Africa",
                 "High income", "Europe", "Low income", "North America", "European Union", "South America"]

# setting an index in order to drop rows from this column
cleaning_location = reduced_covid_df.set_index("location")

# dropping rows containing non countries
cleaning_location.drop(["World", "Asia", "Lower middle income", "Upper middle income", "Africa",
                 "High income", "Europe", "Low income", "North America", "European Union", "South America"], inplace = True)

# resetting the index
cleaned_covid_df = cleaning_location.reset_index()

# finding the top 10 most populated countries
population_vs_location = cleaned_covid_df[["location", "population"]]

group_pop_vs_loc = population_vs_location.groupby("location")

group_pop_vs_loc.mean().sort_values("population", ascending = False).head(10)

                 population
location
China          1.425887e+09
India          1.417173e+09
United States  3.382899e+08
Indonesia      2.755013e+08
Pakistan       2.358249e+08
Nigeria        2.185412e+08
Brazil         2.153135e+08
Bangladesh     1.711864e+08
Russia         1.447133e+08
Mexico         1.275041e+08

In [9]:
# creating new data frame with only the 10 selected locations 

top_10_countries_df = cleaned_covid_df.loc[(cleaned_covid_df["location"] == "China") | (cleaned_covid_df["location"] == "India") |
                                        (cleaned_covid_df["location"] == "United States") | (cleaned_covid_df["location"] == "Indonesia") |
                                        (cleaned_covid_df["location"] == "Pakistan") | (cleaned_covid_df["location"] == "Nigeria") |
                                        (cleaned_covid_df["location"] == "Brazil") | (cleaned_covid_df["location"] == "Bangladesh") |
                                        (cleaned_covid_df["location"] == "Russia") | (cleaned_covid_df["location"] == "Mexico"),  :]

top_10_countries_df

,location,total_cases_per_million,new_cases_per_million,total_deaths_per_million,new_deaths_per_million,icu_patients_per_million,hosp_patients_per_million,total_tests_per_thousand,positive_rate,total_vaccinations_per_hundred,...,median_age,aged_65_older,aged_70_older,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,population,month,year
22069,Bangladesh,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,27.5,5.098,3.262,298.003,8.38,1.0,44.7,171186368.0,1,2020
22070,Bangladesh,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,27.5,5.098,3.262,298.003,8.38,1.0,44.7,171186368.0,1,2020
22071,Bangladesh,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,27.5,5.098,3.262,298.003,8.38,1.0,44.7,171186368.0,1,2020
22072,Bangladesh,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,27.5,5.098,3.262,298.003,8.38,1.0,44.7,171186368.0,1,2020
22073,Bangladesh,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,27.5,5.098,3.262,298.003,8.38,1.0,44.7,171186368.0,1,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
316975,United States,305763.91,NaN,3331.912,NaN,NaN,NaN,NaN,NaN,NaN,...,38.3,15.413,9.732,151.089,10.79,19.1,24.6,338289856.0,10,2023
316976,United States,305763.91,NaN,3331.912,NaN,NaN,NaN,NaN,NaN,NaN,...,38.3,15.413,9.732,151.089,10.79,19.1,24.6,338289856.0,10,2023
316977,United States,305763.91,NaN,3331.912,NaN,NaN,NaN,NaN,NaN,NaN,...,38.3,15.413,9.732,151.089,10.79,19.1,24.6,338289856.0,10,2023
316978,United States,305763.91,NaN,3331.912,NaN,NaN,NaN,NaN,NaN,NaN,...,38.3,15.413,9.732,151.089,10.79,19.1,24.6,338289856.0,10,2023
316979,United States,305763.91,NaN,3331.912,NaN,NaN,NaN,NaN,NaN,NaN,...,38.3,15.413,9.732,151.089,10.79,19.1,24.6,338289856.0,10,2023